@import "src/assets/variables";

.navbar {
  height: 5.6rem;
  border-bottom: 3px solid $secondary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #24377b70;

  .navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    font-weight: 600;
  }

  .navbar-brand {
    color: $primary-color;
    text-decoration: none;
    padding: 1rem 1.5rem;

    &:hover {
      background: $secondary-color;
      color: $primary-color;
      transition: .4s;
      border-radius: .5rem;
    }
  }
}