* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
    margin: 0 auto;
}

.App h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3rem 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.reservation-container {
    width: 20%;
    border-right: 0.3rem solid rgba(58, 58, 58, 0.548);
}

.reservation-header {
    font-size: 1.5rem;
    color: rgb(36, 36, 36);
}

.reservation-cards-container {
    min-height: 35rem;
}

.reservation-card-container {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.171);
    width: 80%;
    margin: 1rem 0;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.reservation-card-container:hover {
    background-color: black;
    color: white;
    box-shadow: none;
}

.reservation-input-container {
    width: 80%;
    padding: 0.5rem 1rem;
}

.reservation-input-container input {
    padding: 0 2px;
    width: 100%;
}

.reservation-input-container button {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    margin: 5px 0;
}

.reservation-input-container button:hover {
    background: black;
    color: white;
}

.customer-food-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.customer-food {
    display: flex;
    flex-direction: column;
}

.customer-food-container p {
    margin-right: 1rem;
    font-weight: 200;
}

.customer-food-card-container {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.171);
    width: 80%;
    margin: 1rem;
}

.customer-food-input-container {
    display: flex;
}

.customer-food-input-container input {
    width: 5rem;
}

.customer-header {
    text-align: center;
}

.customer-foods-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
}

.menuElement {
    display: flex;
    max-width: 100%;
    height: 300px;
}

.menuElement img {
    width: 100%;
    opacity: 0.8;
}

.menuElement:hover {
    opacity: 0.4;
}

.menuElement p {
    font-weight: 900;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.swiper-wrapper {
    margin: 2rem 0px;
    cursor: pointer;
}